/* Style for the container */
/* Style for the "Home" element */
.home {
    display: flex;
    align-items: self-end;
    justify-content: flex-end; /* Align to the right */
    background-color: lightcyan;
    font-size: small;
}

  
/* Style for the text inside the container */
.container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}



/* Style for the title */
.title {
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
}
